body {
    font-family: Arial,  Helvetica, sans-serif;
    background-color: cadetblue;
    color: black;
}
header {
    background: aqua;
    color: blue;
    padding: auto;
    text-align: center;
}